/************

company: syncRTC.com
author: @zmencay
client: SlideTomator
date-creation: Nov 2016

----------------------------

style guide:

0. imports
1. variables
2. general elements

*************/

/** -- 0. IMPORTS -- */        
/** -- 1. variables -- */
/** -- 2. general elements -- */
body {
    /* layout */
    position: relative;
    overflow: hidden;

    /* box-model */
    margin: 0;
    min-height: 100vh;

    /* font */
    font:20px 'Nixie One', 'Lobster', sans-serif;
    line-height: 1;

    /* presentation */
    background-color: #424045;
}

body:after {
    content: "";
    display: block;
    width: 200%;
    height: 100%;
    position:absolute;
    bottom: -50%;
    left:-50%;
    z-index: -1;
    background: #E3A150;
    transform: rotate(25deg);
}